@model Subastas.Domain.Producto

@{
    ViewBag.Title = "Editar Producto";
    Layout = "_Layout";
}

<div class="create">
    <div class="justify-content-left btn-return">
        <img src="/assets/img/icons/returnIcon.png" alt="Regresar" height="40px">
        <a asp-action="Index">Regresar</a>
    </div>
    <br />
    <h1>@ViewBag.Title</h1>

    <form asp-action="Edit" asp-controller="Producto" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <input type="hidden" name="id" value="@Model.IdProducto" />

        <div class="form-group">
            <label asp-for="NombreProducto" class="control-label"></label>
            <input asp-for="NombreProducto" class="form-control" />
            <span asp-validation-for="NombreProducto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DescripcionProducto" class="control-label"></label>
            <textarea asp-for="DescripcionProducto" class="form-control"></textarea>
            <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EstaActivo" class="control-label"></label>
            <select asp-for="EstaActivo" class="form-control">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <span asp-validation-for="EstaActivo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="imagen" class="control-label">Imagen Actual</label>
            <div>
                @if (Model.ImagenProducto != null)
                {
                    <img src="@Model.ImagenProducto" alt="Imagen del Producto" style="max-height: 200px; display: block; margin-bottom: 10px;" />
                }
            </div>
            <label for="imagen" class="control-label">Seleccionar nueva imagen (opcional):</label>
            <input type="file" name="imagen" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar cambios" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>