@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="container-login">
        <div class="form-box">
            <div class="button-box">
                <div id="elegir">
                    <button type="button" class="toggle-btn"><b>Login</b></button>
                </div>
            </div>
            <form asp-controller="Authentication" asp-action="Login" method="post" id="login" class="input-group-login" autocomplete="off">
                <div class="inputBox">
                    <input type="text" id="email" name="email" required />
                    <span>Correo electrónico</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id="password" name="password" required />
                    <span>Contraseña</span>
                    <i></i>
                </div>
                <input type="checkbox" class="check-box" onclick="showPassword(document.getElementById('password'))"><span>Ver contraseña</span>
                <button type="submit" class="submit-btn">Ingresar</button>
            </form>
        </div>
    </div>
</body>
<script>
    var x = document.getElementById("login");

    function showPassword(input) {
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger mt-3">
        @ViewData["Error"]
    </div>
}

@if (ViewData["Success"] != null)
{
    <div class="alert alert-success mt-3 fade-out">
        @ViewData["Success"]
    </div>
}

@section Scripts {
    <script src="~/js/Authentication.js" asp-append-version="true"></script>
}
